@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --btn-bg-color: linear-gradient(90deg, #124d5f 0%, #3ca897 100%);
    --main-bg-color: linear-gradient(180deg, #a7d1df 0%, #ddf2f9 100%);
    --gray: #656b82;
    --black: #111528;
    --orange: #e97017;
    --navy-blue: #1e2647;
}

body {
    font-family: "Lato", sans-serif;
}
@layer components {
    .display-size {
        @apply mx-auto max-w-6xl;
    }
    .primary-container {
        @apply mx-auto px-3 md:container md:px-10;
    }
}
